<div class="in modal-backdrop blockui-overlay"></div>
<div class="blockui-message-container">

  <!--  {{state.message}} 
    <i class="fa fa-cog fa-spin"></i>
    <img src="./../../../img/35.gif" alt="Cargando" />-->
  <!--  <div class="sk-folding-cube">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>-->
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>


</div>